/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body, html{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:minmax(15rem, .3fr) minmax(70rem,1.7fr);
    grid-template-rows: .3fr 1.7fr;
    grid-template-areas: 
                    "dash head"
                    "dash main";
}


header{
    padding: 1rem 3rem;
    grid-area: head;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


form{
    flex: 0 1 70%;
    display: flex;
    gap: 0.6rem;
}

input{
    width: 90%;
}

.search-bar div{
    flex: 1 1 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

header img{
    height: 1.8rem;
}

img[alt="profile-image"]{
    height: 3rem;
}




nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.nav-info{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-info img {
    height: 4rem;
}

.nav-menu{
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: end;
    gap: 3rem;
}



.dashboard{
    box-sizing: border-box;
    padding: 1rem 0 0 2rem;
    grid-area: dash;
    display: grid;
    grid-template-rows: .2fr .6fr 1.2fr;
    align-items: start;
    gap: 3rem
}

.dashboard li{
    padding: 0.8rem 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-items: center;
    gap: .6rem;
}

.dashboard h1{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: .6rem;
}

.dashboard h1>img{
    height: 3rem;
}

.dashboard img{
    flex: 0 0 20%;
    height: 2rem;
}


main{
    box-sizing: border-box;
    overflow: hidden;
    max-height: 100%;
    padding: 1rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr minmax(20rem,0.5fr);
    grid-template-rows: minmax(15rem, 50%) minmax(15rem, 50%);
    grid-template-areas: 
                    "proj anounce"
                    "proj trend";
    justify-content: space-around;
    row-gap: 3rem;
}

.projects{
    overflow: scroll;
    grid-area: proj;
}

.announcements{
    padding-right: 1rem;
    grid-area: anounce;
}

.trending{
    padding-right: 1rem;
    grid-area: trend;
}


.cards-container{
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
    max-height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
}

.card{
    padding: 1rem;
    display: grid;
    grid-template-rows: .2fr .5fr .3fr;
}

.card ul{
    justify-self: end;
    display: flex;
}

.card img{
    height: 1.5rem;
}
.announcements-container{
    padding: 1rem;
    box-sizing: border-box;
    max-height: 100%;
    display: grid;
    justify-content: space-around;
    gap: 1rem;
}

.announcements-container div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending-container{
    padding: 1rem;
    box-sizing: border-box;
    max-height: 100%;
    display: grid;
    gap: 2rem;
}

.trending-container div{
    display: flex;
    align-items: center;
}

.trending-container span{
    display: block;
}

.announcements h2, .trending h2{
    margin-bottom: 1rem;
}

