


body, html{
  
}



header{
    background-color: white;

}

.search-bar button{
    background-color: inherit;
    border: none;

}


form{


}

input{
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 20px;
}

.search-bar div{


}

nav{

}

.nav-info{


}


.nav-menu{


}


.nav-menu button{
    background-color: #FFA3FD;
    border-radius: 20px;
    border: none;
    width: 8rem;
    height: 2rem;
}

.dashboard{
    background-color: #865DFF;

}



main{
    background-color: rgb(226, 226, 226);
}

.projects{

}


.cards-container{

}

.card{
    background-color: white;
    border-left:6px solid #E384FF ;
    border-radius: 10px;
}

.card button{
    border: none;
    background: inherit;
}


.announcements-container{
    border-radius: 10px;
    background-color: white;
}

.trending-container{
    border-radius: 10px;
    background-color: white;
}

.trending-container div{

}

.trending-container span{

}

img{
    border-radius: 50%;
}